DJANGO_SECRET_KEY=8eme%sxbtykvmxw+2h73ww_g%)lgbx(sl&0-i)cofmk%nn!#5u

   POSTGRES_DB_NAME=client-nest
   POSTGRES_DB_USER=postgres
   POSTGRES_DB_PASSWORD=markCole256
   POSTGRES_DB_HOST=localhost
   POSTGRES_DB_PORT=5432